#code adapted from lecture notes 15 

name: Publish Docker image

on:
  workflow_dispatch:
  push:
    paths:
        - "Dockerfile"
        - "renv.lock"
        - "renv/**"
        - "test_cowsay.R"
        - ".github/workflows/docker-image.yml"

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }} # do not change, add as secret
          password: ${{ secrets.DOCKER_PASSWORD }} # do not change, add as secret

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/dsci310-ia3-cjhzhang-docker
          tags: |
            type=sha,prefix=sha-
            type=raw,value=latest
            type=ref,event=tag


      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
